{"openapi":"3.2.0","servers":[{"url":"https://shopping-be.wrtn.ai","description":"Production, the real server"}],"info":{"version":"0.18.0","title":"@samchon/shopping-backend","description":"Backend for shopping","license":{"name":"MIT"}},"paths":{"/monitors/health":{"get":{"summary":"Health check API","description":"Health check API.","tags":["Monitor"],"parameters":[],"responses":{"200":{"description":"","content":{"application/json":{}}}},"x-samchon-accessor":["monitors","health","get"],"x-samchon-controller":"MonitorHealthController"}},"/monitors/performance":{"get":{"summary":"Get performance information","description":"Get performance information.\n\nGet perofmration information composed with CPU, memory and resource usage.","tags":["Monitor"],"parameters":[],"responses":{"200":{"description":"Performance info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPerformance"}}}}},"x-samchon-accessor":["monitors","performance","get"],"x-samchon-controller":"MonitorPerformanceController"}},"/monitors/system":{"get":{"summary":"Get system information","description":"Get system information.\n\nGet system information with commit and package information.\n\nAs such information is a type of sensitive, response be encrypted.","tags":["Monitor"],"parameters":[],"responses":{"200":{"description":"System info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ISystem"}}}}},"x-samchon-accessor":["monitors","system","get"],"x-samchon-controller":"MonitorSystemController"}},"/shoppings/admins/authenticate":{"get":{"summary":"Get administrator information","description":"Get administrator information.\n\nGet {@link IShoppingAdministrator.IInvert administrator} information of\ncurrent {@link IShoppingCustomer customer}.\n\nIf current {@link IShoppingMember member} is not an administrator,\nit throws 403 forbidden exception.","tags":["Authenticate"],"parameters":[],"responses":{"200":{"description":"Admin info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingAdministrator.IInvert"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","authenticate","get"],"x-samchon-controller":"ShoppingAdminAuthenticateController"},"post":{"summary":"Join as an administrator","description":"Join as an administrator.\n\nJoin as an administrator with {@link IShoppingAdministrator.IJoin joining info}.\n\nThis method is allowed only when the {@link IShoppingCustomer customer} already\nhas joined the {@link IShoppingMember membership}. IF not, he (she) must\naccomplish it before. If not, 403 forbidden exception would be thrown.","tags":["Authenticate"],"parameters":[],"requestBody":{"description":"Joining request info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingAdministrator.IJoin"}}},"required":true},"responses":{"201":{"description":"Administrator info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingAdministrator.IInvert"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","authenticate","join"],"x-samchon-controller":"ShoppingAdminAuthenticateController"}},"/shoppings/admins/authenticate/login":{"put":{"summary":"Login as an administrator","description":"Login as an administrator.\n\nLogin as an administrator with {@link IShoppingAdministrator.ILogin login info}.\n\nThis method has exactly same effect with\n{@link ShoppingApi.functional.customers.authenticate.login} function, but\nreturned type is a llttle different. The similar function returns\n{@link IShoppingCustomer} type that starting from the customer information, so\nthat you have to access to the administrator info through\n`customer.member.administrator`. In contrast with that, this method returns\n{@link IShoppingAdministrator.IInvert} type that starting from the administrator\ninfo, so that can access to the customer info through `administrator.customer`.\n\nOf course, to use this function, you had to {@link join} as an administrator\nbefore. If not, 403 forbidden exception would be thrown,","tags":["Authenticate"],"parameters":[],"requestBody":{"description":"Login request info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingMember.ILogin"}}},"required":true},"responses":{"200":{"description":"Administrator info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingAdministrator.IInvert"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","authenticate","login"],"x-samchon-controller":"ShoppingAdminAuthenticateController"}},"/shoppings/admins/coupons":{"post":{"summary":"Create a new coupon","description":"Create a new coupon.\n\nCreate a new {@link IShoppingCoupon coupon} with given information.\n\nBy the way, if you are a {@link IShoppingSeller seller}, you have to\nadd include direction's {@link IShoppingCouponSellerCriteria} or\n{@link IShoppingCouponSaleCriteria} condition. This is because only\n{@link IShoppingAdministrator administrators} can create a coupon\nwhich can be used throughout the market. Seller must limit the usage\nrange by his/her {@link IShoppingSale sale(s)}.\n\nOf course, when administrator is planning to make a general coupon\nthat can be used throughout the market, the administrator must\nget agree from the sellers who are going to be affected.","tags":["Discount"],"parameters":[],"requestBody":{"description":"Creation info of the coupon","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingCoupon.ICreate"}}},"required":true},"responses":{"201":{"description":"Newly created coupon","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingCoupon"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","coupons","create"],"x-samchon-controller":"ShoppingAdminCouponController"},"patch":{"summary":"List up every coupons","description":"List up every coupons.\n\nList up every {@link IShoppingCoupon coupons} with pagination.\n\nIf you want, you can limit the result by configuring\n{@link IShoppingCoupon.IRequest.search search condition} in the request\nbody. Also, it is possible to customize sequence order of records by\nconfiguring {@link IShoppingCoupon.IRequest.sort sort condition}.\n\nFor reference, if you are a {@link IShoppingCustomer customer}, then\nonly {@link IShoppingCouponTicket ticketable} coupons would be listed up.\nOtherwise, non-ticketable coupons would also be listed up.","tags":["Discount"],"parameters":[],"requestBody":{"description":"Request info of pagination, searching and sorting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingCoupon.IRequest"}}},"required":true},"responses":{"200":{"description":"Paginated coupons","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPageIShoppingCoupon"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","coupons","index"],"x-samchon-controller":"ShoppingAdminCouponController"}},"/shoppings/admins/coupons/{id}":{"delete":{"summary":"Erase a coupon","description":"Erase a coupon.\n\nErase a {@link IShoppingCoupon coupon} with given ID.\n\nFor reference, if there're some {@link IShoppingCouponTicket tickets}\nwhich are already issued from the target coupon, they would not be affected.\nThose tickets are still valid until their expiration time.","tags":["Discount"],"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true,"description":"Target coupon's {@link IShoppingCoupon.id}"}],"responses":{"200":{"description":"","content":{"application/json":{}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","coupons","erase"],"x-samchon-controller":"ShoppingAdminCouponController"},"get":{"summary":"Get a coupon info","description":"Get a coupon info.\n\nGet a {@link IShoppingCoupon coupon} information.\n\nIf you are a {@link IShoppingCustomer customer}, then only\n{@link IShoppingCouponTicket ticketable} coupons are accessible. Non\nticketable coupons cause 410 gone error. Otherwise you are a\n{@link IShoppingSeller seller} or {@link IShoppingAdministrator administrator},\nnon-ticketable coupons are also accessible.","tags":["Discount"],"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true,"description":"Target coupon's {@link IShoppingCoupon.id}"}],"responses":{"200":{"description":"Coupon info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingCoupon"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","coupons","at"],"x-samchon-controller":"ShoppingAdminCouponController"}},"/shoppings/admins/deposits":{"patch":{"summary":"Get deposit metadata list","description":"Get deposit metadata list.\n\nList up every {@link IShoppingDeposit deposit} metadata information\nwith {@link IPage pagination}.\n\nIf you want, you can limit the result by configuring\n{@link IShoppingDeposit.IRequest.search search condition} in the request body.\nAlso, it is possible to customize sequence order of records by configuring\n{@link IShoppingDeposit.IRequest.sort sort condition}.","tags":["Discount"],"parameters":[],"requestBody":{"description":"Request info of pagination, searching and sorting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingDeposit.IRequest"}}},"required":true},"responses":{"200":{"description":"Paginated deposit metadata list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPageIShoppingDeposit"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","deposits","index"],"x-samchon-controller":"ShoppingAdminDepositController"},"post":{"summary":"Create a new deposit metadata","description":"Create a new deposit metadata.\n\nCreate a new {@link IShoppingDeposit deposit} metadata.\n\nThis action means that adding a new origin reason of deposit's income/outcome.\nOf course, creating a new deposit record does not mean that automatically\nincrease or decrease the {@link IShoppingCustomer customer}'s balance\nfollowing the record's reason why. The logic must be developed manually\nin the backend side.","tags":["Discount"],"parameters":[],"requestBody":{"description":"Creation information of deposit metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingDeposit.ICreate"}}},"required":true},"responses":{"201":{"description":"Newly created deposit metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingDeposit"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","deposits","create"],"x-samchon-controller":"ShoppingAdminDepositController"}},"/shoppings/admins/deposits/{id}":{"get":{"summary":"Get a deposit metadata","description":"Get a deposit metadata.\n\nGet a {@link IShoppingDeposit deposit} metadata information with its ID.","tags":["Discount"],"parameters":[{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target deposit's {@link IShoppingDeposit.id}"}],"responses":{"200":{"description":"Deposit metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingDeposit"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","deposits","at"],"x-samchon-controller":"ShoppingAdminDepositController"},"delete":{"summary":"Erase a deposit metadata","description":"Erase a deposit metadata.\n\nErase a {@link IShoppingDeposit deposit} metadata, so that no more\n{@link IShoppingCustomer customer}'s balance does not be increased or\ndecreased by the deposit's reason why.","tags":["Discount"],"parameters":[{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target deposit's {@link IShoppingDeposit.id}"}],"responses":{"200":{"description":"","content":{"application/json":{}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","deposits","erase"],"x-samchon-controller":"ShoppingAdminDepositController"}},"/shoppings/admins/deposits/{code}/get":{"get":{"summary":"Get a deposit metadata by its code","description":"Get a deposit metadata by its code.\n\nGet a {@link IShoppingDeposit deposit} metadata information with its code.","tags":["Discount"],"parameters":[{"name":"code","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Deposit metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingDeposit"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","deposits","get"],"x-samchon-controller":"ShoppingAdminDepositController"}},"/shoppings/admins/mileages":{"patch":{"summary":"Get mileage metadata list","description":"Get mileage metadata list.\n\nList up every {@link IShoppingMileage mileage} metadata information\nwith {@link IPage pagination}.\n\nIf you want, you can limit the result by configuring\n{@link IShoppingMileage.IRequest.search search condition} in the request body.\nAlso, it is possible to customize sequence order of records by configuring\n{@link IShoppingMileage.IRequest.sort sort condition}.","tags":["Discount"],"parameters":[],"requestBody":{"description":"Request info of pagination, searching and sorting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingMileage.IRequest"}}},"required":true},"responses":{"200":{"description":"Paginated mileage metadata list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPageIShoppingMileage"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","mileages","index"],"x-samchon-controller":"ShoppingAdminMileageController"},"post":{"summary":"Create a new mileage metadata","description":"Create a new mileage metadata.\n\nCreate a new {@link IShoppingMileage mileage} metadata.\n\nThis action means that adding a new origin reason of mileage's income/outcome.\nOf course, creating a new mileage record does not mean that automatically\nincrease or decrease the {@link IShoppingCustomer customer}'s balance\nfollowing the record's reason why. The logic must be developed manually\nin the backend side.","tags":["Discount"],"parameters":[],"requestBody":{"description":"Creation information of mileage metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingMileage.ICreate"}}},"required":true},"responses":{"201":{"description":"Newly created mileage metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingMileage"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","mileages","create"],"x-samchon-controller":"ShoppingAdminMileageController"}},"/shoppings/admins/mileages/{id}":{"get":{"summary":"Get a mileage metadata","description":"Get a mileage metadata.\n\nGet a {@link IShoppingMileage mileage} metadata information with its ID.","tags":["Discount"],"parameters":[{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target mileage's {@link IShoppingMileage.id}"}],"responses":{"200":{"description":"Mileage metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingMileage"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","mileages","at"],"x-samchon-controller":"ShoppingAdminMileageController"},"delete":{"summary":"Erase a mileage metadata","description":"Erase a mileage metadata.\n\nErase a {@link IShoppingMileage mileage} metadata, so that no more\n{@link IShoppingCustomer customer}'s balance does not be increased or\ndecreased by the mileage's reason why.","tags":["Discount"],"parameters":[{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target mileage's {@link IShoppingMileage.id}"}],"responses":{"200":{"description":"","content":{"application/json":{}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","mileages","erase"],"x-samchon-controller":"ShoppingAdminMileageController"}},"/shoppings/admins/mileages/{code}/get":{"get":{"summary":"Get a mileage metadata by its code","description":"Get a mileage metadata by its code.\n\nGet a {@link IShoppingMileage mileage} metadata information with its code.","tags":["Discount"],"parameters":[{"name":"code","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Mileage metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingMileage"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","mileages","get"],"x-samchon-controller":"ShoppingAdminMileageController"}},"/shoppings/admins/mileages/donations":{"patch":{"summary":"List up every mileage donation histories","description":"List up every mileage donation histories.\n\nList up every {@link IShoppingMileageDonation mileage donation histories}\nwith {@link IPage pagination}.\n\nIf you want, you can limit the result by configuring\n{@link IShoppingMileageDonation.IRequest.search search condition} in\nthe request body. Also, it is possible to customize sequence order of\nrecords by configuring {@link IShoppingMileageDonation.IRequest.sort sort}.","tags":["Discount"],"parameters":[],"requestBody":{"description":"Request info of pagination, searching and sorting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingMileageDonation.IRequest"}}},"required":true},"responses":{"200":{"description":"Paginated mileage donation history list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPageIShoppingMileageDonation"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","mileages","donations","index"],"x-samchon-controller":"ShoppingAdminMileageDonationController"},"post":{"summary":"Donate a mileage to a citizen","description":"Donate a mileage to a citizen.\n\nDonate a mileage to a specific {@link IShoppingCitizen citizen} from\ncurrent {@link IShoppingAdministrator administrator}, with detailed\nreason why.\n\nNote that, as donating mileage affects to the citizen's balance and\ncurrent shopping mall's operating profit, administrator must archive\nthe detailed reason why the mileage is donated.","tags":["Discount"],"parameters":[],"requestBody":{"description":"Request info of mileage donation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingMileageDonation.ICreate"}}},"required":true},"responses":{"201":{"description":"Mileage donation history","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingMileageDonation"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","mileages","donations","create"],"x-samchon-controller":"ShoppingAdminMileageDonationController"}},"/shoppings/admins/mileages/donations/{id}":{"get":{"summary":"Get a mileage donation history","description":"Get a mileage donation history.\n\nGet a {@link IShoppingMileageDonation mileage donation history} with its ID.","tags":["Discount"],"parameters":[{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target history's {@link IShoppingMileageDonation.id}"}],"responses":{"200":{"description":"Mileage donation history","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingMileageDonation"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","mileages","donations","at"],"x-samchon-controller":"ShoppingAdminMileageDonationController"}},"/shoppings/admins/orders":{"patch":{"summary":"List up every orders","description":"List up every orders.\n\nList up every {@link IShoppingOrder orders} with pagination.\n\nIf you want, you can limit the result by configuring\n{@link IShoppingOrder.IRequest.search search condition} in the request\nbody. Also, it is possible to customize sequence order of records by\nconfiguring {@link IShoppingOrder.IRequest.sort sort condition}.\n\nFor reference, if you are a {@link IShoppingCustomer customer}, then\nyou can list up your own orders, and it is not a matter whether the\norder has been {@link IShoppingOrderPublish.paid_at paid} or not.\n\nOtherwise you are a {@link IShoppingSeller seller} or\n{@link IShoppingAdministrator administrator}, then you can list up\nonly paid orders. Also, in the seller case, only related\n{@link IShoppingOrder.goods goods} would be listed up in the order.","tags":["Order"],"parameters":[],"requestBody":{"description":"Request info of pagination, searching and sorting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingOrder.IRequest"}}},"required":true},"responses":{"200":{"description":"Paginated orders","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPageIShoppingOrder"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","orders","index"],"x-samchon-controller":"ShoppingAdminOrderController"}},"/shoppings/admins/orders/{id}":{"get":{"summary":"Get an order info","description":"Get an order info.\n\nGet a detailed {@link IShoppingOrder order} information.\n\nIf you are not a {@link IShoppingCustomer customer}, then you can't\naccess to the order which has not been\n{@link IShoppingOrderPublish.paid_at paid} yet. In that case,\n404 not found error would be thrown.","tags":["Order"],"parameters":[{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target order's {@link IShoppingOrder.id}"}],"responses":{"200":{"description":"Order info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingOrder"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","orders","at"],"x-samchon-controller":"ShoppingAdminOrderController"}},"/shoppings/admins/sales/details":{"patch":{"summary":"List up every sales","description":"List up every sales.\n\nList up every {@link IShoppingSale sales} with detailed information.\n\nAs you can see, returned sales are detailed, not summarized. If you want\nto get the summarized information of sale for a brief, use {@link index}\nfunction instead.\n\nFor reference, if you're a {@link IShoppingSeller seller}, you can only\naccess to the your own {@link IShoppingSale sale}s. Otherwise you're a\n{@link IShoppingCustomer customer}, you can see only the operating sales\nin the market. Instead, you can't see the unopened, closed, or suspended\nsales.\n\n> If you're an A.I. chatbot, please don't summarize the\n> {@link IShoppingSaleUnitStock stock information}. Just list up the\n> every stocks in the sale with detailed information.","tags":["Sale"],"parameters":[],"requestBody":{"description":"Request info of pagination, searching and sorting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSale.IRequest"}}},"required":true},"responses":{"200":{"description":"Paginated sales with detailed information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPageIShoppingSale"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","sales","details"],"x-samchon-controller":"ShoppingAdminSaleController","x-samchon-human":true}},"/shoppings/admins/sales":{"patch":{"summary":"List up every summarized sales","description":"List up every summarized sales.\n\nList up every {@link IShoppingSale.ISummary summarized sales}.\n\nAs you can see, returned sales are summarized, not detailed. It does not\ncontain the SKU (Stock Keeping Unit) information represented by the\n{@link IShoppingSaleUnitOption} and {@link IShoppingSaleUnitStock} types.\nIf you want to get such detailed information of a sale, use\n`GET /shoppings/customers/sales/{id}` operation for each sale.\n\n> If you're an A.I. chatbot, and the user wants to buy or compose\n> {@link IShoppingCartCommodity shopping cart} from a sale, please\n> call the `GET /shoppings/customers/sales/{id}` operation at least once\n> to the target sale to get detailed SKU information about the sale.\n> It needs to be run at least once for the next steps.","tags":["Sale"],"parameters":[],"requestBody":{"description":"Request info of pagination, searching and sorting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSale.IRequest"}}},"required":true},"responses":{"200":{"description":"Paginated sales with summarized information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPageIShoppingSale.ISummary"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","sales","index"],"x-samchon-controller":"ShoppingAdminSaleController"}},"/shoppings/admins/sales/{id}":{"get":{"summary":"Get a sale with detailed information","description":"Get a sale with detailed information.\n\nGet a {@link IShoppingSale sale} with detailed information including\nthe SKU (Stock Keeping Unit) information represented by the\n{@link IShoppingSaleUnitOption} and {@link IShoppingSaleUnitStock} types.\n\n> If you're an A.I. chatbot, and the user wants to buy or compose a\n> {@link IShoppingCartCommodity shopping cart} from a sale, please call\n> this operation at least once to the target sale to get detailed SKU\n> information about the sale.\n>\n> It needs to be run at least once for the next steps. In other words,\n> if you A.I. agent has called this operation to a specific sale, you\n> don't need to call this operation again for the same sale.\n>\n> Additionally, please do not summarize the SKU information. Just show\n> the every options and stocks in the sale with detailed information.","tags":["Sale"],"parameters":[{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target sale's {@link IShoppingSale.id}"}],"responses":{"200":{"description":"Detailed sale information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSale"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","sales","at"],"x-samchon-controller":"ShoppingAdminSaleController"}},"/shoppings/admins/sales/{saleId}/questions/{inquiryId}/comments":{"patch":{"summary":"List up every inquiry comments","description":"List up every inquiry comments.\n\nList up every {@link IShoppingSaleInquiryComment inquiry comments} of a\n{@link IShoppingSaleQuestion question} or {@link IShoppingSaleReview review}\nwith {@link IPage pagination}.\n\nIf you want, you can limit the result by configuring\n{@link IShoppingSaleInquiryComment.IRequest.search search condition} in the\nrequest body. Also, it is possible to customize sequence order of records\nby configuring {@link IShoppingSaleInquiryComment.IRequest.sort sort condition}.\n\nBy the way, if you're a {@link IShoppingSeller seller}, you can only access\nto the your own {@link IShoppingSale sale}'s inquiries. Otherwise, you\ncan access to every inquiries of the sales.","tags":["Sale"],"parameters":[{"name":"saleId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Belonged sale's {@link IShoppingSale.id}"},{"name":"inquiryId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Belonged inquiry's {@link IShoppingSaleInquiry.id}"}],"requestBody":{"description":"Request info of pagination, searching and sorting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSaleInquiryComment.IRequest"}}},"required":true},"responses":{"200":{"description":"Paginated inquiry comments","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPageIShoppingSaleInquiryComment"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","sales","questions","comments","index"],"x-samchon-controller":"ShoppingAdminSaleQuestionCommentController"},"post":{"summary":"Create an inquiry comment","description":"Create an inquiry comment.\n\nCreate an {@link IShoppingSaleInquiryComment inquiry comment} of a\n{@link IShoppingSaleQuestion question} or {@link IShoppingSaleReview review}.\n\nFor reference, if you're a {@link IShoppingSeller seller}, you can only\ncreate an inquiry comment to your own {@link IShoppingSale sale}'s inquiry.\nOtherwise, you can create an inquiry comment to every inquiries of the sales.","tags":["Sale"],"parameters":[{"name":"saleId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Belonged sale's {@link IShoppingSale.id}"},{"name":"inquiryId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target inquiry's {@link IShoppingSaleInquiry.id}"}],"requestBody":{"description":"Creation info of the inquiry comment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSaleInquiryComment.ICreate"}}},"required":true},"responses":{"201":{"description":"Newly created inquiry comment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSaleInquiryComment"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","sales","questions","comments","create"],"x-samchon-controller":"ShoppingAdminSaleQuestionCommentController"}},"/shoppings/admins/sales/{saleId}/questions/{inquiryId}/comments/{id}":{"get":{"summary":"Get an inquiry comment info","description":"Get an inquiry comment info.\n\nGet a detailed {@link IShoppingSaleInquiryComment inquiry comment}\ninformation of a {@link IShoppingSaleQuestion question} or\n{@link IShoppingSaleReview review}.\n\nFor reference, if you're a {@link IShoppingSeller seller}, you can only\naccess to the your own {@link IShoppingSale sale}'s inquiry comment.\nOtherwise, you can access to every inquiry comments of the sales.","tags":["Sale"],"parameters":[{"name":"saleId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Belonged sale's {@link IShoppingSale.id}"},{"name":"inquiryId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Belonged inquiry's {@link IShoppingSaleInquiry.id}"},{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target inquiry comment's {@link IShoppingSaleInquiryComment.id}"}],"responses":{"200":{"description":"Detailed inquiry comment info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSaleInquiryComment"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","sales","questions","comments","at"],"x-samchon-controller":"ShoppingAdminSaleQuestionCommentController"},"put":{"summary":"Update an inquiry comment","description":"Update an inquiry comment.\n\nUpdate an {@link IShoppingSaleInquiryComment inquiry comment} to a specific\n{@link IShoppingSaleQuestion question} or {@link IShoppingSaleReview review}.\n\nBy the way, as is the general policy of this shopping mall regarding\ncomments, modifying a comment does not actually change the existing content.\nModified content is accumulated and recorded in the existing comment record\nas a new {@link IShoppingSaleInquiryComment.ISnapshot snapshot}. And this\nis made public to everyone, who can read this inquiry comment.\n\nThis is to prevent customers or sellers from modifying their comments and\nmanipulating the circumstances due to the nature of e-commerce, where\ndisputes easily arise. That is, to preserve evidence.","tags":["Sale"],"parameters":[{"name":"saleId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Belonged sale's {@link IShoppingSale.id}"},{"name":"inquiryId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Belonged inquiry's {@link IShoppingSaleInquiry.id}"},{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target inquiry comment's {@link IShoppingSaleInquiryComment.id}"}],"requestBody":{"description":"Update info of the inquiry comment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSaleInquiryComment.ICreate"}}},"required":true},"responses":{"200":{"description":"Newly created snapshot record of the inquiry comment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSaleInquiryComment.ISnapshot"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","sales","questions","comments","update"],"x-samchon-controller":"ShoppingAdminSaleQuestionCommentController"}},"/shoppings/admins/sales/{saleId}/questions":{"patch":{"summary":"List up every summarized questions","description":"List up every summarized questions.\n\nList up every {@link IShoppingSaleQuestion.ISummary summarized questions} of a\n{@link IShoppingSale sale}.\n\nAs you can see, returned questions are summarized, not detailed. If you want\nto get the detailed information of a question, use {@link adridges} function\nor {@link at} function for each article.\n\nAlso, returned question has {@link IShoppingSaleQuestion.ISummary.answer}\nproperty which means the formal answer from the {@link IShoppingSeller}.\nAdditionally, returned question has another special property\n{@link IShoppingSaleQuestion.ISummary.secret} with masking to other\nprinciple properties, and it means only related actors can {@link at read}\nthe question.\n\nFor reference, if you're a {@link IShoppingSeller seller}, you can only\naccess to the your own {@link IShoppingSale sale}'s questions. Otherwise,\nyou can access to every questions of the sales.\n\nBy the way, if you want, you can limit the result by configuring\n{@link IShoppingSaleQuestion.IRequest.search search condition} in the\nrequest body. Also, it is possible to customize sequence order of records\nby configuring {@link IShoppingSaleQuestion.IRequest.sort sort condition}.","tags":["Sale"],"parameters":[{"name":"saleId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Belonged sale's {@link IShoppingSale.id}"}],"requestBody":{"description":"Request info of pagination, searching and sorting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSaleQuestion.IRequest"}}},"required":true},"responses":{"200":{"description":"Paginated questions with summarized information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPageIShoppingSaleQuestion.ISummary"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","sales","questions","index"],"x-samchon-controller":"ShoppingAdminSaleQuestionController"}},"/shoppings/admins/sales/{saleId}/questions/abridges":{"patch":{"summary":"List up every abridged questions","description":"List up every abridged questions.\n\nList up every {@link IShoppingSaleQuestion.IAbridge abridged questions} of\na {@link IShoppingSale sale}.\n\nAs you can see, returned questions are abridged, not detailed. If you want\nto get the detailed information of a question, use {@link at} function\nfor each article.\n\nAlso, returned question has {@link IShoppingSaleQuestion.IAridge.answer}\nproperty which means the formal answer from the {@link IShoppingSeller}.\nAdditionally, returned question has another special property\n{@link IShoppingSaleQuestion.IAridge.secret} with masking to other\nprinciple properties, and it means only related actors can {@link at read}\nthe question.\n\nFor reference, if you're a {@link IShoppingSeller seller}, you can only\naccess to the your own {@link IShoppingSale sale}'s questions. Otherwise,\nyou can access to every questions of the sales.\n\nBy the way, if you want, you can limit the result by configuring\n{@link IShoppingSaleQuestion.IRequest.search search condition} in the\nrequest body. Also, it is possible to customize sequence order of records\nby configuring {@link IShoppingSaleQuestion.IRequest.sort sort condition}.","tags":["Sale"],"parameters":[{"name":"saleId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Belonged sale's {@link IShoppingSale.id}"}],"requestBody":{"description":"Request info of pagination, searching and sorting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSaleQuestion.IRequest"}}},"required":true},"responses":{"200":{"description":"Paginated questions with abridged information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPageIShoppingSaleQuestion.IAbridge"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","sales","questions","abridges"],"x-samchon-controller":"ShoppingAdminSaleQuestionController"}},"/shoppings/admins/sales/{saleId}/questions/{id}":{"get":{"summary":"Get a question info","description":"Get a question info.\n\nGet a detailed {@link IShoppingSaleQuestion question} information of a\n{@link IShoppingSale sale}.\n\nFor reference, if you're a {@link IShoppingSeller seller}, you can only\naccess to the your own {@link IShoppingSale sale}'s question. Otherwise\nyou are a {@link IShoppingCustomer customer}, you can access to every\nquestions of the sales except the {@link IShoppingSaleQuestion.secret}\nvalue is `false`.","tags":["Sale"],"parameters":[{"name":"saleId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Belonged sale's {@link IShoppingSale.id}"},{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target question's {@link IShoppingSaleQuestion.id}"}],"responses":{"200":{"description":"Detailed question info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSaleQuestion"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","sales","questions","at"],"x-samchon-controller":"ShoppingAdminSaleQuestionController"}},"/shoppings/admins/sales/{saleId}/reviews/{inquiryId}/comments":{"patch":{"summary":"List up every inquiry comments","description":"List up every inquiry comments.\n\nList up every {@link IShoppingSaleInquiryComment inquiry comments} of a\n{@link IShoppingSaleQuestion question} or {@link IShoppingSaleReview review}\nwith {@link IPage pagination}.\n\nIf you want, you can limit the result by configuring\n{@link IShoppingSaleInquiryComment.IRequest.search search condition} in the\nrequest body. Also, it is possible to customize sequence order of records\nby configuring {@link IShoppingSaleInquiryComment.IRequest.sort sort condition}.\n\nBy the way, if you're a {@link IShoppingSeller seller}, you can only access\nto the your own {@link IShoppingSale sale}'s inquiries. Otherwise, you\ncan access to every inquiries of the sales.","tags":["Sale"],"parameters":[{"name":"saleId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Belonged sale's {@link IShoppingSale.id}"},{"name":"inquiryId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Belonged inquiry's {@link IShoppingSaleInquiry.id}"}],"requestBody":{"description":"Request info of pagination, searching and sorting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSaleInquiryComment.IRequest"}}},"required":true},"responses":{"200":{"description":"Paginated inquiry comments","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPageIShoppingSaleInquiryComment"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","sales","reviews","comments","index"],"x-samchon-controller":"ShoppingAdminSaleReviewCommentController"},"post":{"summary":"Create an inquiry comment","description":"Create an inquiry comment.\n\nCreate an {@link IShoppingSaleInquiryComment inquiry comment} of a\n{@link IShoppingSaleQuestion question} or {@link IShoppingSaleReview review}.\n\nFor reference, if you're a {@link IShoppingSeller seller}, you can only\ncreate an inquiry comment to your own {@link IShoppingSale sale}'s inquiry.\nOtherwise, you can create an inquiry comment to every inquiries of the sales.","tags":["Sale"],"parameters":[{"name":"saleId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Belonged sale's {@link IShoppingSale.id}"},{"name":"inquiryId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target inquiry's {@link IShoppingSaleInquiry.id}"}],"requestBody":{"description":"Creation info of the inquiry comment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSaleInquiryComment.ICreate"}}},"required":true},"responses":{"201":{"description":"Newly created inquiry comment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSaleInquiryComment"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","sales","reviews","comments","create"],"x-samchon-controller":"ShoppingAdminSaleReviewCommentController"}},"/shoppings/admins/sales/{saleId}/reviews/{inquiryId}/comments/{id}":{"get":{"summary":"Get an inquiry comment info","description":"Get an inquiry comment info.\n\nGet a detailed {@link IShoppingSaleInquiryComment inquiry comment}\ninformation of a {@link IShoppingSaleQuestion question} or\n{@link IShoppingSaleReview review}.\n\nFor reference, if you're a {@link IShoppingSeller seller}, you can only\naccess to the your own {@link IShoppingSale sale}'s inquiry comment.\nOtherwise, you can access to every inquiry comments of the sales.","tags":["Sale"],"parameters":[{"name":"saleId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Belonged sale's {@link IShoppingSale.id}"},{"name":"inquiryId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Belonged inquiry's {@link IShoppingSaleInquiry.id}"},{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target inquiry comment's {@link IShoppingSaleInquiryComment.id}"}],"responses":{"200":{"description":"Detailed inquiry comment info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSaleInquiryComment"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","sales","reviews","comments","at"],"x-samchon-controller":"ShoppingAdminSaleReviewCommentController"},"put":{"summary":"Update an inquiry comment","description":"Update an inquiry comment.\n\nUpdate an {@link IShoppingSaleInquiryComment inquiry comment} to a specific\n{@link IShoppingSaleQuestion question} or {@link IShoppingSaleReview review}.\n\nBy the way, as is the general policy of this shopping mall regarding\ncomments, modifying a comment does not actually change the existing content.\nModified content is accumulated and recorded in the existing comment record\nas a new {@link IShoppingSaleInquiryComment.ISnapshot snapshot}. And this\nis made public to everyone, who can read this inquiry comment.\n\nThis is to prevent customers or sellers from modifying their comments and\nmanipulating the circumstances due to the nature of e-commerce, where\ndisputes easily arise. That is, to preserve evidence.","tags":["Sale"],"parameters":[{"name":"saleId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Belonged sale's {@link IShoppingSale.id}"},{"name":"inquiryId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Belonged inquiry's {@link IShoppingSaleInquiry.id}"},{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target inquiry comment's {@link IShoppingSaleInquiryComment.id}"}],"requestBody":{"description":"Update info of the inquiry comment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSaleInquiryComment.ICreate"}}},"required":true},"responses":{"200":{"description":"Newly created snapshot record of the inquiry comment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSaleInquiryComment.ISnapshot"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","sales","reviews","comments","update"],"x-samchon-controller":"ShoppingAdminSaleReviewCommentController"}},"/shoppings/admins/sales/{saleId}/reviews":{"patch":{"summary":"List up every summarized reviews","description":"List up every summarized reviews.\n\nList up every {@link IShoppingSaleReview.ISummary summarized reviews} of a\n{@link IShoppingSale sale}.\n\nAs you can see, returned reviews are summarized, not detailed. If you want\nto get the detailed information of a review, use {@link adridges} function\nor {@link at} function for each article.\n\nAlso, returned review has {@link IShoppingSaleReview.ISummary.answer}\nproperty which means the formal answer from the {@link IShoppingSeller}.\n\nFor reference, if you're a {@link IShoppingSeller seller}, you can only\naccess to the your own {@link IShoppingSale sale}'s reviews. Otherwise,\nyou can access to every reviews of the sales.\n\nBy the way, if you want, you can limit the result by configuring\n{@link IShoppingSaleReview.IRequest.search search condition} in the\nrequest body. Also, it is possible to customize sequence order of records\nby configuring {@link IShoppingSaleReview.IRequest.sort sort condition}.","tags":["Sale"],"parameters":[{"name":"saleId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Belonged sale's {@link IShoppingSale.id}"}],"requestBody":{"description":"Request info of pagination, searching and sorting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSaleReview.IRequest"}}},"required":true},"responses":{"200":{"description":"Paginated reviews with summarized information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPageIShoppingSaleReview.ISummary"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","sales","reviews","index"],"x-samchon-controller":"ShoppingAdminSaleReviewController"}},"/shoppings/admins/sales/{saleId}/reviews/abridges":{"patch":{"summary":"List up every abridged reviews","description":"List up every abridged reviews.\n\nList up every {@link IShoppingSaleReview.IAbridge abridged reviews} of\na {@link IShoppingSale sale}.\n\nAs you can see, returned reviews are abridged, not detailed. If you want\nto get the detailed information of a review, use {@link at} function\nfor each article.\n\nAlso, returned review has {@link IShoppingSaleReview.IAridge.answer}\nproperty which means the formal answer from the {@link IShoppingSeller}.\n\nFor reference, if you're a {@link IShoppingSeller seller}, you can only\naccess to the your own {@link IShoppingSale sale}'s reviews. Otherwise,\nyou can access to every reviews of the sales.\n\nBy the way, if you want, you can limit the result by configuring\n{@link IShoppingSaleReview.IRequest.search search condition} in the\nrequest body. Also, it is possible to customize sequence order of records\nby configuring {@link IShoppingSaleReview.IRequest.sort sort condition}.","tags":["Sale"],"parameters":[{"name":"saleId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Belonged sale's {@link IShoppingSale.id}"}],"requestBody":{"description":"Request info of pagination, searching and sorting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSaleReview.IRequest"}}},"required":true},"responses":{"200":{"description":"Paginated reviews with abridged information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPageIShoppingSaleReview.IAbridge"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","sales","reviews","abridges"],"x-samchon-controller":"ShoppingAdminSaleReviewController"}},"/shoppings/admins/sales/{saleId}/reviews/{id}":{"get":{"summary":"Get a review info","description":"Get a review info.\n\nGet a detailed {@link IShoppingSaleReview review} information of a\n{@link IShoppingSale sale}.\n\nFor reference, if you're a {@link IShoppingSeller seller}, you can only\naccess to the your own {@link IShoppingSale sale}'s review. Otherwise\nyou are a {@link IShoppingCustomer customer}, you can access to every\nreviews of the sales.","tags":["Sale"],"parameters":[{"name":"saleId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Belonged sale's {@link IShoppingSale.id}"},{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target review's {@link IShoppingSaleReview.id}"}],"responses":{"200":{"description":"Detailed review info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSaleReview"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","sales","reviews","at"],"x-samchon-controller":"ShoppingAdminSaleReviewController"}},"/shoppings/admins/sales/{saleId}/snapshots":{"patch":{"summary":"List up every snapshots","description":"List up every snapshots.\n\nWhenever {@link IShoppingSeller seller} updates a\n{@link IShoppingSale sale}, the sale record is not updated but a new\n{@link IShoppingSaleSnapshot snapshot} record is created to keep the\nintegrity of the sale history. This API function is for listing up\nsuch snapshot records.\n\nAlso, as you can see from the return type, returned snapshots are\nsummarized, not detailed. If you want to get the detailed information\nof a snapshot, use {@link at} or {@link flipo} function for each snapshot.\n\nFor reference, if you're a {@link IShoppingSeller seller}, you can only\naccess to the your own {@link IShoppingSale sale}'s snapshots. Otherwise,\nyou can access to every snapshots of the sales even though the sale has\nbeen closed or suspended.","tags":["Sale"],"parameters":[{"name":"saleId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target sale's {@link IShoppingSale.id}"}],"requestBody":{"description":"Requestion info of pagination","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPage.IRequest"}}},"required":true},"responses":{"200":{"description":"Paginated snapshots with summarized information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPageIShoppingSaleSnapshot.ISummary"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","sales","snapshots","index"],"x-samchon-controller":"ShoppingAdminSaleSnapshotController"}},"/shoppings/admins/sales/{saleId}/snapshots/{id}":{"get":{"summary":"Get a snapshot info","description":"Get a snapshot info.\n\nGet a {@link IShoppingSaleSnapshot snapshot} with detailed information.\n\nAs you can see from the return type, returned snapshot does not contain\nthe {@link IShoppingSale sale} info. If you want to get the sale info,\nuse the {@link flip} function instead.\n\nFor reference, if you're a {@link IShoppingSeller seller}, you can only\naccess to the your own {@link IShoppingSale sale}'s snapshots. Otherwise,\nyou can access to every snapshots of the sales even though the sale has\nbeen closed or suspended.","tags":["Sale"],"parameters":[{"name":"saleId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Belonged sale's {@link IShoppingSale.id}"},{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target snapshot's {@link IShoppingSaleSnapshot.id}"}],"responses":{"200":{"description":"Detailed information of the snapshot","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSaleSnapshot"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","sales","snapshots","at"],"x-samchon-controller":"ShoppingAdminSaleSnapshotController"}},"/shoppings/admins/sales/{saleId}/snapshots/{id}/flip":{"get":{"summary":"Get a flipped snapshot info","description":"Get a flipped snapshot info.\n\nGet a {@link IShoppingSale sale} info of a flipped snapshot.\n\nAs you can see from the return type, this function returns the\n{@link IShoppingSale sale} info. By the way, the sale info is not the\nlatest one, but a flipped info in the snapshot side.\n\nAlso, if you're a {@link IShoppingSeller seller}, you can only access to\nthe your own {@link IShoppingSale sale}'s snapshots. Otherwise, you can\naccess to every snapshots of the sales even though the sale has been\nclosed or suspended.","tags":["Sale"],"parameters":[{"name":"saleId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Belonged sale's {@link IShoppingSale.id}"},{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target snapshot's {@link IShoppingSaleSnapshot.id}"}],"responses":{"200":{"description":"Detailed sale information in the snapshot side","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSale"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","sales","snapshots","flip"],"x-samchon-controller":"ShoppingAdminSaleSnapshotController"}},"/shoppings/admins/systematic/channels/{channelCode}/categories":{"post":{"summary":"Create a new category","description":"Create a new category.\n\nCreate a new {@link IShoppingChannelCategory category} of a\n{@link IShoppingChannel channel} with given name. If required, it is\npossible to specify the parent category by its ID.","tags":["Systematic"],"parameters":[{"name":"channelCode","in":"path","schema":{"type":"string"},"required":true,"description":"Belonged channel's {@link IShoppingChannel.code}"}],"requestBody":{"description":"Creation info of the category","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingChannelCategory.ICreate"}}},"required":true},"responses":{"201":{"description":"Newly created category","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingChannelCategory"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","systematic","channels","categories","create"],"x-samchon-controller":"ShoppingAdminSystematicChannelCategoryController"},"patch":{"summary":"List up every categories with children records","description":"List up every categories with children records.\n\nList up every {@link IShoppingChannelCategory.IHierarchical categories}\nof a {@link IShoppingChannel channel} with pagination. Returned categories\ncontain children categories, too.\n\nIf you want, you can limit the result by configuring\n{@link IShoppingChannelCategory.IRequest.search search condition} in the\nrequest body. Also, it is possible to customize sequence order of records\nby configuring {@link IShoppingChannelCategory.IRequest.sort sort condition}.","tags":["Systematic"],"parameters":[{"name":"channelCode","in":"path","schema":{"type":"string"},"required":true,"description":"Belonged channel's {@link IShoppingChannel.code}"}],"responses":{"200":{"description":"Paginated categories with children categories","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/IShoppingChannelCategory.IHierarchical"},"type":"array"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","systematic","channels","categories","index"],"x-samchon-controller":"ShoppingAdminSystematicChannelCategoryController"}},"/shoppings/admins/systematic/channels/{channelCode}/categories/{id}":{"put":{"summary":"Update a category","description":"Update a category.\n\nUpdate a {@link IShoppingChannelCategory category}'s name. If required,\nit is possible to change the parent category by its ID. Of course, detaching\nfrom the parent category so that becoming the root category is also possible.","tags":["Systematic"],"parameters":[{"name":"channelCode","in":"path","schema":{"type":"string"},"required":true,"description":"Belonged channel's {@link IShoppingChannel.code}"},{"name":"id","in":"path","schema":{"type":"string"},"required":true,"description":"Target category's {@link IShoppingChannelCategory.id}"}],"requestBody":{"description":"Update info of the category","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingChannelCategory.ICreate"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","systematic","channels","categories","update"],"x-samchon-controller":"ShoppingAdminSystematicChannelCategoryController"},"get":{"summary":"Get a category info","description":"Get a category info.\n\nGet a detailed {@link IShoppingChannelCategory category} information.\n\nReturned category contains hierarchical children categories, and also\ncontains the recursive parent categories, too.","tags":["Systematic"],"parameters":[{"name":"channelCode","in":"path","schema":{"type":"string"},"required":true,"description":"Belonged channel's {@link IShoppingChannel.code}"},{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target category's {@link IShoppingChannelCategory.id}"}],"responses":{"200":{"description":"Detailed category info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingChannelCategory"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","systematic","channels","categories","at"],"x-samchon-controller":"ShoppingAdminSystematicChannelCategoryController"}},"/shoppings/admins/systematic/channels/{channelCode}/categories/merge":{"delete":{"summary":"Merge multiple categories into one","description":"Merge multiple categories into one.\n\nIn this shopping mall system, it is not possible to delete a\n{@link IShoppingChannelCategory category}, because it is a systematic\nentity affecting to all other core entities like\n{@link IShoppingSale sales}. Instead of deleting, you can merge multiple\ncategories into one.\n\nIf you specify a category to absorb others, then all of other categories\nwill be merged into the specified one. Also, subsidiary entities of\ncategories also be merged and their references also be merged cascadingly.","tags":["Systematic"],"parameters":[{"name":"channelCode","in":"path","schema":{"type":"string"},"required":true,"description":"Belonged channel's {@link IShoppingChannel.code}"}],"requestBody":{"description":"Merge info of the categories","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IRecordMerge"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","systematic","channels","categories","merge"],"x-samchon-controller":"ShoppingAdminSystematicChannelCategoryController"}},"/shoppings/admins/systematic/channels/{channelCode}/categories/{id}/invert":{"get":{"summary":"Get a category info of inverted","description":"Get a category info of inverted.\n\nGet a inverted {@link IShoppingChannelCategory.IInvert category} information.\n\nReturned category contains the recursive parent categories, but not contains\nthe hierarchical children categories.","tags":["Systematic"],"parameters":[{"name":"channelCode","in":"path","schema":{"type":"string"},"required":true,"description":"Belonged channel's {@link IShoppingChannel.code}"},{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target category's {@link IShoppingChannelCategory.id}"}],"responses":{"200":{"description":"Detailed category info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingChannelCategory.IInvert"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","systematic","channels","categories","invert"],"x-samchon-controller":"ShoppingAdminSystematicChannelCategoryController"}},"/shoppings/admins/systematic/channels":{"post":{"summary":"Create a new channel","description":"Create a new channel.\n\nCreate a new {@link IShoppingChannel channel} with given code and name.\n\nAs channel means an individual market,\n{@link IShoppingAdministrator administrator} should perform this action\nonly when a new application being registered.","tags":["Systematic"],"parameters":[],"requestBody":{"description":"Creation info of the channel","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingChannel.ICreate"}}},"required":true},"responses":{"201":{"description":"Newly created channel","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingChannel"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","systematic","channels","create"],"x-samchon-controller":"ShoppingAdminSystematicChannelController"},"patch":{"summary":"List up every channels","description":"List up every channels.\n\nList up every {@link IShoppingChannel channels} with pagination.\n\nIf you want, you can limit the result by configuring\n{@link IShoppingChannel.IRequest.search search condition} in the request\nbody. Also, it is possible to customize sequence order of records by\nconfiguring {@link IShoppingChannel.IRequest.sort sort condition}.","tags":["Systematic"],"parameters":[],"requestBody":{"description":"Request info of pagination, searching and sorting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingChannel.IRequest"}}},"required":true},"responses":{"200":{"description":"Paginated channels","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPageIShoppingChannel"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","systematic","channels","index"],"x-samchon-controller":"ShoppingAdminSystematicChannelController"}},"/shoppings/admins/systematic/channels/{id}":{"put":{"summary":"Update a channel","description":"Update a channel.\n\nUpdate a {@link IShoppingChannel channel}'s name.\n\nNote that, it is not possible to change the channel's code. If you want to\nto do it forcibly, then {@link create} new one and {@link merge} with it.","tags":["Systematic"],"parameters":[{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target channel's {@link IShoppingChannel.code}"}],"requestBody":{"description":"Update info of the channel","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingChannel.IUpdate"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","systematic","channels","update"],"x-samchon-controller":"ShoppingAdminSystematicChannelController"},"get":{"summary":"Get a channel info","description":"Get a channel info.\n\nGet a detailed {@link IShoppingChannel.IHierarchical channel} information.\n\nReturned channel instance also contains the nested\n{@link IShoppingChannelCategory.IHierarchical hierarchical category}\ninformation.","tags":["Systematic"],"parameters":[{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target channel's {@link IShoppingChannel.id}"}],"responses":{"200":{"description":"Detailed channel info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingChannel.IHierarchical"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","systematic","channels","at"],"x-samchon-controller":"ShoppingAdminSystematicChannelController"}},"/shoppings/admins/systematic/channels/merge":{"delete":{"summary":"Merge multiple channels into one","description":"Merge multiple channels into one.\n\nIn this shopping mall system, it is not possible to delete a\n{@link IShoppingChannel channel}, because it is a systematic entity\naffecting to all other core entities like customers, members and\nsales. Instead of deleting, you can merge multiple channels into one.\n\nIf you specify a channel to absorb others, then all of other channels\nwill be merged into the specified one. Also, subsidiary entities of\nchannels also be merged and their references also be merged cascadingly.","tags":["Systematic"],"parameters":[],"requestBody":{"description":"Request info of the merge","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IRecordMerge"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","systematic","channels","merge"],"x-samchon-controller":"ShoppingAdminSystematicChannelController"}},"/shoppings/admins/systematic/channels/hierarchical":{"patch":{"summary":"List up every channels with nested categories","description":"List up every channels with nested categories.\n\nList up every {@link IShoppingChannel.IHierarchical channels} with\n{@link IPage pagination}. Returned channels contain nested hierarchical\n{@link IShoppingChannelCategory.IHierarchical categories}.\n\nIf you want, you can limit the result by configuring\n{@link IShoppingChannel.IRequest.search search condition} in the request\nbody. Also, it is possible to customize sequence order of records by\nconfiguring {@link IShoppingChannel.IRequest.sort sort condition}.","tags":["Systematic"],"parameters":[],"requestBody":{"description":"Request info of pagination, searching and sorting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingChannel.IRequest"}}},"required":true},"responses":{"200":{"description":"Paginated channels with nested categories","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPageIShoppingChannel.IHierarchical"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","systematic","channels","hierarchical"],"x-samchon-controller":"ShoppingAdminSystematicChannelController"}},"/shoppings/admins/systematic/channels/{code}/get":{"get":{"summary":"Get a channel info by its code","description":"Get a channel info by its code.\n\nGet a detailed {@link IShoppingChannel.IHierarchical channel} information\nby its code.\n\nReturned channel instance also contains the nested\n{@link IShoppingChannelCategory.IHierarchical hierarchical category}\ninformation.","tags":["Systematic"],"parameters":[{"name":"code","in":"path","schema":{"type":"string"},"required":true,"description":"Target channel's {@link IShoppingChannel.code}"}],"responses":{"200":{"description":"Detailed channel info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingChannel.IHierarchical"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","systematic","channels","get"],"x-samchon-controller":"ShoppingAdminSystematicChannelController"}},"/shoppings/admins/systematic/sections":{"post":{"summary":"Create a new section","description":"Create a new section.\n\nCreate a new {@link IShoppingSection section} with given code and name.\n\nAs section means a spatial unit of a market that handling different type\nof products with other section, {@link IShoppingAdministrator administrator}\nshould perform this action only when a new section being required.","tags":["Systematic"],"parameters":[],"requestBody":{"description":"Creation info of the section","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSection.ICreate"}}},"required":true},"responses":{"201":{"description":"Newly created section","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSection"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","systematic","sections","create"],"x-samchon-controller":"ShoppingAdminSystematicSectionController"},"patch":{"summary":"List up every sections","description":"List up every sections.\n\nList up every {@link IShoppingSection sections} with pagination.\n\nIf you want, you can limit the result by configuring\n{@link IShoppingSection.IRequest.search search condition} in the request\nbody. Also, it is possible to customize sequence order of records by\nconfiguring {@link IShoppingSection.IRequest.sort sort condition}.","tags":["Section"],"parameters":[],"requestBody":{"description":"Request info of pagination, searching and sorting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSection.IRequest"}}},"required":true},"responses":{"200":{"description":"Paginated sections","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPageIShoppingSection"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","systematic","sections","index"],"x-samchon-controller":"ShoppingAdminSystematicSectionController"}},"/shoppings/admins/systematic/sections/{id}":{"put":{"summary":"Update a section","description":"Update a section.\n\nUpdate a {@link IShoppingSection section}'s name.\n\nNote that, it is not possible to change the section's code. If you want to\nto do it forcibly, then {@link create} new one and {@link merge} with it.","tags":["Systematic"],"parameters":[{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target section's {@link IShoppingSection.code}"}],"requestBody":{"description":"Update info of the section","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSection.IUpdate"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","systematic","sections","update"],"x-samchon-controller":"ShoppingAdminSystematicSectionController"},"get":{"summary":"Get a section info","description":"Get a section info.\n\nGet a detailed {@link IShoppingSection section} information.","tags":["Section"],"parameters":[{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target section's {@link IShoppingSection.id}"}],"responses":{"200":{"description":"Detailed section info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSection"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","systematic","sections","at"],"x-samchon-controller":"ShoppingAdminSystematicSectionController"}},"/shoppings/admins/systematic/sections/merge":{"delete":{"summary":"Merge multiple sections into one","description":"Merge multiple sections into one.\n\nIn this shopping mall system, it is not possible to delete a\n{@link IShoppingSection section}, because it is a systematic entity\naffecting to all other core entities like {@link IShoppingSale sales}.\nInstead of deleting, you can merge multiple sections into one.\n\nIf you specify a section to absorb others, then all of other sections\nwill be merged into the specified one. Also, subsidiary entities of\nsections also be merged and their references also be merged cascadingly.","tags":["Systematic"],"parameters":[],"requestBody":{"description":"input Request info of the merge","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IRecordMerge"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","systematic","sections","merge"],"x-samchon-controller":"ShoppingAdminSystematicSectionController"}},"/shoppings/admins/systematic/sections/{code}/get":{"get":{"summary":"Get a section info by its code","description":"Get a section info by its code.\n\nGet a detailed {@link IShoppingSection section} information by its code.","tags":["Section"],"parameters":[{"name":"code","in":"path","schema":{"type":"string"},"required":true,"description":"Target section's {@link IShoppingSection.code}"}],"responses":{"200":{"description":"Detailed section info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingSection"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","admins","systematic","sections","get"],"x-samchon-controller":"ShoppingAdminSystematicSectionController"}},"/shoppings/customers/authenticate/refresh":{"patch":{"summary":"Refresh the authentication token","description":"Refresh the authentication token.\n\nCreate a new {@link IShoppingCustomer.IToken.access access token} of a\n{@link IShoppingCustomer customer} with the pre-issued\n{@link IShoppingCustomer.IToken.refresh refresh} token.\n\nNote that, this function is available until the\n{@link IShoppingCustomer.IToken.refreshable_until} value.","tags":["Authenticate"],"parameters":[],"requestBody":{"description":"Refresh token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingCustomer.IRefresh"}}},"required":true},"responses":{"200":{"description":"Customer information with new token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingCustomer.IAuthorized"}}}}},"x-samchon-accessor":["shoppings","customers","authenticate","refresh"],"x-samchon-controller":"ShoppingCustomerAuthenticateController"}},"/shoppings/customers/authenticate":{"get":{"summary":"Get current customer info","description":"Get current customer info.\n\nGet current {@link IShoppingCustomer customer} information from the\n{@link IShoppingCustomer.IToken.access access token}.","tags":["Authenticate"],"parameters":[],"responses":{"200":{"description":"Current customer information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingCustomer"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","authenticate","get"],"x-samchon-controller":"ShoppingCustomerAuthenticateController"},"post":{"summary":"Create a new customer record","description":"Create a new customer record.\n\nThis shopping mall system defines everyone participating in this market as\na \"customer\". And the customer records are not archived based on individual\n{@link IShoppingCitizen people}, but based on the unit of connection.\nTherefore, even if it is the same person, a new {@link IShoppingCustomer}\nrecord is created every time a connection is made.\n\nTherefore, all Client Applications that access this service must first call\nthis function, report the customer's inflow path to the server, and create\nan {@link IShoppingCustomer.IToken.access access token}. If you skip this\nfunction call, all the other API functions would be prohibited. There is no\nexception, even if you want to {@link activate} your citizenship or\n{@link login} with your {@link IShoppingMember member account}. Before\nauthenticating yourself or logging in, be sure to call this function first.\nThis also applies when an {@link IShoppingAdministrator administrator} or\n{@link IShoppingSeller seller} logs in.\n\nAlso, the authentication token has an\n{@link IShoppingCustomer.IToken.expired_at expiration time}\nand cannot be used permanently. For reference, the authentication token is\nvalid for 3 hours, and if you want to maintain customer authentication even\nafter 3 hours, you must call the {@link refresh} function.","tags":["Authenticate"],"parameters":[],"requestBody":{"description":"Creation information of the customer.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingCustomer.ICreate"}}},"required":true},"responses":{"201":{"description":"Created customer information with token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingCustomer.IAuthorized"}}}}},"x-samchon-accessor":["shoppings","customers","authenticate","create"],"x-samchon-controller":"ShoppingCustomerAuthenticateController"}},"/shoppings/customers/authenticate/join":{"post":{"summary":"Join membership","description":"Join membership.\n\n{@link IShoppingCustomer Customer} signs up for\n{@link IShoppingMember membership} of current shopping mall system.\n\nIf you've performed the {@link IShoppingCitizen citizenship}\n{@link activate activation} too, then you can skip the {@link activate}\nfunction calling everytime you log in from now on. Also, if the person had\n{@link IShoppingOrder purchased} with {@link activate} and {@link external}\nfunction calling, you can also access to the order history too. In other\nwords, activity details prior to membership registration can also be\naccessed with continuity.\n\nFor reference, as described in the {@link create} function, before calling\nthis `join` function, you must first create a customer record and token by\ncalling the {@link create} function.","tags":["Authenticate"],"parameters":[],"requestBody":{"description":"Join information of the member","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingMember.IJoin"}}},"required":true},"responses":{"201":{"description":"Joined customer information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingCustomer"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","authenticate","join"],"x-samchon-controller":"ShoppingCustomerAuthenticateController"}},"/shoppings/customers/authenticate/login":{"put":{"summary":"Membership login","description":"Membership login.\n\n{@link IShoppingCustomer Customer} logs in with his/her\n{@link IShoppingMember membership} account with the email and password.\n\nIf the {@link IShoppingMember member} has previously performed\n{@link activate citizenship activation}, the {@link IShoppingCustomer.citizen}\nvalue would be filled in accordingly. And if the member has also signed up\nas an {@link IShoppingAdministrator administrator} or\n{@link IShoppingSeller seller}, the relevant information is also entered\naccordingly.\n\nFor reference, as described in the {@link create} function, before calling\nthis `login` function, you must first create a customer record and token by\ncalling the {@link create} function.","tags":["Authenticate"],"parameters":[],"requestBody":{"description":"Login request info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingMember.ILogin"}}},"required":true},"responses":{"200":{"description":"Logged in Customer information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingCustomer"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","authenticate","login"],"x-samchon-controller":"ShoppingCustomerAuthenticateController"}},"/shoppings/customers/authenticate/activate":{"post":{"summary":"Activate citizenship","description":"Activate citizenship.\n\n{@link IShoppingCustomer Customer} activates his/her\n{@link IShoppingCitizen citizenship} with mobile number and real name.\n\nIf the custommer already {@link join joined} to the\n{@link IShoppingMember membership}, then you can skip the citizenship\n{@link activation} function calling everytime you log in from now on.\nOf course, such story would be same to the {@link external} function, too.\n\nFor reference, as described in the {@link create} function, before calling\nthis `activate` function, you must first create a customer record and token\nby calling the {@link create} function.","tags":["Authenticate"],"parameters":[],"requestBody":{"description":"Activation information of the citizenship","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingCitizen.ICreate"}}},"required":true},"responses":{"201":{"description":"Activated customer information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingCustomer"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","authenticate","activate"],"x-samchon-controller":"ShoppingCustomerAuthenticateController"}},"/shoppings/customers/authenticate/external":{"post":{"summary":"Enroll external user info","description":"Enroll external user info.\n\n{@link IShoppingCustomer Customer} enrolls his/her\n{@link IShoppingExternalUser external user} information from other service.\n\nIt has similar effect with the {@link join membership joining} function,\nso that if you've performed the {@link IShoppingCitizen citizenship}\n{@link activate activation} too, then you can skip the {@link activate}\nfunction calling everytime you call this `external` function with same\ninfo from now on. Also, if the person had\n{@link IShoppingOrder purchased} with {@link activate} and {@link join}\nfunction calling, you can also access to the order history too. In other\nwords, activity details prior to external server registration can also be\naccessed with continuity.\n\nFor reference, as described in the {@link create} function, before calling\nthis `external` function, you must first create a customer record and token\nby calling the {@link create} function.","tags":["Authenticate"],"parameters":[],"requestBody":{"description":"Enroll information of the external user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingExternalUser.ICreate"}}},"required":true},"responses":{"201":{"description":"External user enrolled customer information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingCustomer"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","authenticate","external"],"x-samchon-controller":"ShoppingCustomerAuthenticateController"}},"/shoppings/customers/authenticate/password/change":{"put":{"summary":"Change password","description":"Change password.\n\nChange password of {@link IShoppingMember member} with the current password.\n\nThe reason why the current password is required is for security.","tags":["Authenticate"],"parameters":[],"requestBody":{"description":"New password and current password","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingMember.IPasswordChange"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","authenticate","password","change"],"x-samchon-controller":"ShoppingCustomerAuthenticatePasswordController"}},"/shoppings/customers/coupons":{"patch":{"summary":"List up every coupons","description":"List up every coupons.\n\nList up every {@link IShoppingCoupon coupons} with pagination.\n\nIf you want, you can limit the result by configuring\n{@link IShoppingCoupon.IRequest.search search condition} in the request\nbody. Also, it is possible to customize sequence order of records by\nconfiguring {@link IShoppingCoupon.IRequest.sort sort condition}.\n\nFor reference, if you are a {@link IShoppingCustomer customer}, then\nonly {@link IShoppingCouponTicket ticketable} coupons would be listed up.\nOtherwise, non-ticketable coupons would also be listed up.","tags":["Discount"],"parameters":[],"requestBody":{"description":"Request info of pagination, searching and sorting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingCoupon.IRequest"}}},"required":true},"responses":{"200":{"description":"Paginated coupons","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPageIShoppingCoupon"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","coupons","index"],"x-samchon-controller":"ShoppingCustomerCouponController"}},"/shoppings/customers/coupons/{id}":{"get":{"summary":"Get a coupon info","description":"Get a coupon info.\n\nGet a {@link IShoppingCoupon coupon} information.\n\nIf you are a {@link IShoppingCustomer customer}, then only\n{@link IShoppingCouponTicket ticketable} coupons are accessible. Non\nticketable coupons cause 410 gone error. Otherwise you are a\n{@link IShoppingSeller seller} or {@link IShoppingAdministrator administrator},\nnon-ticketable coupons are also accessible.","tags":["Discount"],"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true,"description":"Target coupon's {@link IShoppingCoupon.id}"}],"responses":{"200":{"description":"Coupon info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingCoupon"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","coupons","at"],"x-samchon-controller":"ShoppingCustomerCouponController"}},"/shoppings/customers/coupons/tickets":{"patch":{"summary":"List up every coupon tickets","description":"List up every coupon tickets.\n\nList up every {@link IShoppingCouponTicket coupon tickets} of the\n{@link IShoppingCustomer customer} with {@link IPage pagination}.\n\nFor reference, coupon ticket means that a {@link IShoppingCoupon coupon}\nhas been taken by a customer. If the target coupon has expiration day or\ndate, the coupon ticket also has\n{@link IShoppingCouponTicket.expired_at expiration time}, and such expired\ntickets would not be listed up. Likewise, tickets used to\n{@link IShoppingCouponTicketPayment pay} for the {@link IShoppingOrder order}\nwould not be listed up, either.\n\nAdditionally, you can limit the result by configuring\n{@link IShoppingCouponTicket.IRequest.search search condition} in the request\nbody. Also, it is possible to customize sequence order of records by\nconfiguring {@link IShoppingCouponTicket.IRequest.sort sort condition}.","tags":["Discount"],"parameters":[],"requestBody":{"description":"Request info of pagination, searching and sorting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingCouponTicket.IRequest"}}},"required":true},"responses":{"200":{"description":"Paginated coupon tickets","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPageIShoppingCouponTicket"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","coupons","tickets","index"],"x-samchon-controller":"ShoppingCustomerCouponTicketController"},"post":{"summary":"Create a new coupon ticket","description":"Create a new coupon ticket.\n\nCreate a new {@link IShoppingCouponTicket coupon ticket} of a specific\n{@link IShoppingCoupon coupon} for the {@link IShoppingCustomer customer}.\n\nBy the way, if the target coupon has been\n{@link IShoppingCoupon.expired_at expired} or\n{@link IShoppingCoupon.IInventory.volume out of stock} or\n{@link IShoppingCoupon.IInventory.volume_per_citizen exhausted for him/her},\n410 gone exception would be thrown.\n\nAlso, even though succeeded to create a new coupon ticket from the target\ncoupon, if the coupon has expiration day or date, the newly created ticket\nalso has {@link IShoppingCouponTicket.expired_at expiration time}, and it\nwould be disabled after the expiration time.","tags":["Discount"],"parameters":[],"requestBody":{"description":"Creation info of coupon ticket","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingCouponTicket.ICreate"}}},"required":true},"responses":{"201":{"description":"Newly created coupon ticket","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingCouponTicket"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","coupons","tickets","create"],"x-samchon-controller":"ShoppingCustomerCouponTicketController"}},"/shoppings/customers/coupons/tickets/{id}":{"get":{"summary":"Get a coupon ticket","description":"Get a coupon ticket.\n\nGet a {@link IShoppingCouponTicket coupon ticket} information with its ID.\n\nBy the way, if the target coupon ticket has been\n{@link IShoppingCouponTicket.expired_at expired} or used to\n{@link IShoppingCouponTicketPayment pay} for the {@link IShoppingOrder order},\n410 gone exception would be thrown.","tags":["Discount"],"parameters":[{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target coupon ticket's {@link IShoppingCouponTicket.id}"}],"responses":{"200":{"description":"Coupon ticket info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingCouponTicket"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","coupons","tickets","at"],"x-samchon-controller":"ShoppingCustomerCouponTicketController"}},"/shoppings/customers/deposits/charges":{"patch":{"summary":"List up every deposit charges","description":"List up every deposit charges.\n\nList up every {@link IShoppingDepositCharge deposit charges} of the\n{@link IShoppingCustomer customer} with {@link IPage pagination}.\n\nIf you want, you can limit the result by configuring\n{@link IShoppingDepositCharge.IRequest.search search condition} in the\nrequest body. Also, it is possible to customize sequence order of records\nby configuring {@link IShoppingDepositCharge.IRequest.sort sort condition}.","tags":["Discount"],"parameters":[],"requestBody":{"description":"Request info of pagination, searching and sorting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingDepositCharge.IRequest"}}},"required":true},"responses":{"200":{"description":"Paginated deposit charges","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPageIShoppingDepositCharge"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","deposits","charges","index"],"x-samchon-controller":"ShoppingCustomerDepositChargeController"},"post":{"summary":"Create a new deposit charge application","description":"Create a new deposit charge application.\n\nCreate a new {@link IShoppingDepositCharge deposit charge application}.\n\nBy the way, this function does not mean completion the deposit charge, but\nmeans just {@link IShoppingCustomer customer} is applying the deposit charge.\nThe deposit charge be completed only when customer\n{@link IShoppingDepositChargePublish.publish pay} the deposit charge.","tags":["Discount"],"parameters":[],"requestBody":{"description":"Creation info of the deposit charge","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingDepositCharge.ICreate"}}},"required":true},"responses":{"201":{"description":"Newly created deposit charge","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingDepositCharge"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","deposits","charges","create"],"x-samchon-controller":"ShoppingCustomerDepositChargeController"}},"/shoppings/customers/deposits/charges/{id}":{"get":{"summary":"Get a deposit charge info","description":"Get a deposit charge info.\n\nGet a {@link IShoppingDepositCharge deposit charge} information.","tags":["Discount"],"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true,"description":"Target deposit charge's {@link IShoppingDepositCharge.id}"}],"responses":{"200":{"description":"Deposit charge info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingDepositCharge"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","deposits","charges","at"],"x-samchon-controller":"ShoppingCustomerDepositChargeController"},"put":{"summary":"Update a deposit charge application","description":"Update a deposit charge application.\n\nUpdate value of a {@link IShoppingDepositCharge deposit charge application}\nthat has been applied by the {@link IShoppingCustomer}.\n\nIf the charge has been {@link IShoppingDepositChargePublish published},\nthen it is not possible to update the deposit charge. Only 410 gone exception\nwould be thrown.","tags":["Discount"],"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true,"description":"Target deposit charge's {@link IShoppingDepositCharge.id}"}],"requestBody":{"description":"Value to change","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingDepositCharge.ICreate"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","deposits","charges","update"],"x-samchon-controller":"ShoppingCustomerDepositChargeController"},"delete":{"summary":"Erase a deposit charge application","description":"Erase a deposit charge application.\n\nErase a {@link IShoppingDepositCharge deposit charge application} that has been\napplied by the {@link IShoppingCustomer}.\n\nIf the charge has been {@link IShoppingDepositChargePublish published}, then\nit is not possible to erase the deposit charge. In that case, you've to cancel\nthe payment by calling the {@link publish.cancel} function.","tags":["Discount"],"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true,"description":"Target deposit charge's {@link IShoppingDepositCharge.id}"}],"responses":{"200":{"description":"","content":{"application/json":{}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","deposits","charges","erase"],"x-samchon-controller":"ShoppingCustomerDepositChargeController"}},"/shoppings/customers/deposits/charges/{chargeId}/publish/able":{"get":{"summary":"Check publishable","description":"Check publishable.\n\nTest whether the {@link IShoppingDepositCharge charge} is publishable or not.\n\nIf the charge has not been {@link IShoppingDepositChargePublish published} and\nnot deleted yet, then it is possible to publish the charge","tags":["Discount"],"parameters":[{"name":"chargeId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target charge's {@link IShoppingDepositCharge.id}"}],"responses":{"200":{"description":"Whether the charge is publishable or not","content":{"application/json":{"schema":{"type":"boolean"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","deposits","charges","publish","able"],"x-samchon-controller":"ShoppingCustomerDepositChargePublishController"}},"/shoppings/customers/deposits/charges/{chargeId}/publish":{"post":{"summary":"Publish a charge","description":"Publish a charge.\n\n{@link IShoppingDepositChargePublish Publish} a\n{@link IShoppingDepositCharge charge} that has been applied by the\n{@link IShoppingCustomer} with payment information gotten from the\npayment vendor system.\n\nAlso, the payment time can be different with the publish time. For example,\nif the payment method is manual bank account transfer, then the payment\nwould be delayed until the customer actually transfer the money. In that\ncase, {@link IShoppingDepositChargePublish.paid_at} would be `null` value,\nso that you have to check it after calling this publish function.","tags":["Discount"],"parameters":[{"name":"chargeId","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target charge's {@link IShoppingDepositCharge.id}"}],"requestBody":{"description":"Creation info of the publish","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingDepositChargePublish.ICreate"}}},"required":true},"responses":{"201":{"description":"Newly created publish","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingDepositChargePublish"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","deposits","charges","publish","create"],"x-samchon-controller":"ShoppingCustomerDepositChargePublishController"}},"/shoppings/customers/deposits/histories":{"patch":{"summary":"List up every deposit histories","description":"List up every deposit histories.\n\nList up every {@link IShoppingDepositHistory deposit histories} of the\n{@link IShoppingCustomer customer} with {@link IPage pagination}.\n\nIf you want, you can limit the result by configuring\n{@link IShoppingDepositHistory.IRequest.search search condition} in the\nrequest body. Also, it is possible to customize sequence order of records\nby configuring {@link IShoppingDepositHistory.IRequest.sort sort condition}.","tags":["Discount"],"parameters":[],"requestBody":{"description":"Request info of pagination, searching and sorting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingDepositHistory.IRequest"}}},"required":true},"responses":{"200":{"description":"Paginated deposit histories","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPageIShoppingDepositHistory"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","deposits","histories","index"],"x-samchon-controller":"ShoppingCustomerDepositHistoryController"}},"/shoppings/customers/deposits/histories/{id}":{"get":{"summary":"Get a deposit history info","description":"Get a deposit history info.\n\nGet a {@link IShoppingDepositHistory deposit history} information.","tags":["Discount"],"parameters":[{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":""}],"responses":{"200":{"description":"Deposit history info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingDepositHistory"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","deposits","histories","at"],"x-samchon-controller":"ShoppingCustomerDepositHistoryController"}},"/shoppings/customers/deposits/histories/balance":{"get":{"summary":"Get balance of the deposit","description":"Get balance of the deposit.\n\nGet current balance of the deposit of the {@link IShoppingCustomer customer}.","tags":["Discount"],"parameters":[],"responses":{"200":{"description":"Balance of the deposit","content":{"application/json":{"schema":{"type":"number"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","deposits","histories","balance"],"x-samchon-controller":"ShoppingCustomerDepositHistoryController"}},"/shoppings/customers/mileages/histories":{"patch":{"summary":"List up every mileage histories","description":"List up every mileage histories.\n\nList up every {@link IShoppingMileageHistory mileage histories} of the\n{@link IShoppingCustomer customer} with {@link IPage pagination}.\n\nIf you want, you can limit the result by configuring\n{@link IShoppingMileageHistory.IRequest.search search condition} in the\nrequest body. Also, it is possible to customize sequence order of records\nby configuring {@link IShoppingMileageHistory.IRequest.sort sort condition}.","tags":["Discount"],"parameters":[],"requestBody":{"description":"Request info of pagination, searching and sorting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingMileageHistory.IRequest"}}},"required":true},"responses":{"200":{"description":"Paginated mileage histories","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPageIShoppingMileageHistory"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","mileages","histories","index"],"x-samchon-controller":"ShoppingCustomerMileageHistoryController"}},"/shoppings/customers/mileages/histories/{id}":{"get":{"summary":"Get a mileage history info","description":"Get a mileage history info.\n\nGet a {@link IShoppingMileageHistory mileage history} information.","tags":["Discount"],"parameters":[{"name":"id","in":"path","schema":{"format":"uuid","type":"string"},"required":true,"description":"Target mileage history's {@link IShoppingMileageHistory.id}"}],"responses":{"200":{"description":"Mileage history info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IShoppingMileageHistory"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","mileages","histories","at"],"x-samchon-controller":"ShoppingCustomerMileageHistoryController"}},"/shoppings/customers/mileages/histories/balance":{"get":{"summary":"Get balance of the mileage","description":"Get balance of the mileage.\n\nGet current balance of the mileage of the {@link IShoppingCustomer customer}.","tags":["Discount"],"parameters":[],"responses":{"200":{"description":"Balance of the mileage","content":{"application/json":{"schema":{"type":"number"}}}}},"security":[{"bearer":[]}],"x-samchon-accessor":["shoppings","customers","mileages","histories","balance"],"x-samchon-controller":"ShoppingCustomerMileageHistoryController"}},"/shoppings/customers/carts/commodities":{"patch":{"summary":"List of every commodities","description":"List of every commodities.\n\nList up every {@link IShoppingCartCommodity commodities} in the\nshopping cart with {@link IPage pagination}.\n\nYou can limit the result by configuring\n{@link IShoppingCartCommodity.IRequest.search search condition} in the\nrequest body. Furthermore, it is possible to customize sequence order of\nrecords by configuring {@link IShoppingCartCommodity.IRequest.sort}.\n\nFo
[...]
